<!DOCTYPE html>
<html>
    <head>
        <title>NBA Daily Picks</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body class="body">
        <div class="main" script="width=100%">
          <!-- Cabeçalho--> 
          <header id="inicio">
            <div class="row">
              <div class="col justify-content-start">
                <div class="form-check form-switch d-flex justify-content-start top-nav">
                  <input type="checkbox" class="form-check-input" id="checkbox" onclick="toggleDarkMode()">
                  <label class="form-check-label" for="checkbox"><p class="theme" style="padding-left: 5px;"><i class="fa-solid fa-circle-half-stroke fa-rotate-180"></i></p></label>
                </div>
              </div>
              <div class="top-nav col d-flex justify-content-end">
        {% block content %}
                    {% if userLogged %}
                      <button onclick="location.href='/'" class="btn logged" id="logout"><i class="fa fa-sign-in"></i>Logout</a>
                      <button onclick="location.href='/profile'" class="btn logged"><i class="fa-solid fa-user"></i>Profile</a>
                    {% else %}
                      <button onclick="location.href='/login'" class="btn unlogged"><i class="fa fa-sign-out"></i>Login</a>
                      <button class="btn unlogged"  id="selectedbtn"><i class="fa fa-user-plus"></i>Sign Up</a>
                    {% endif %}
              </div>
            </div>  
          </header>
        </div>
          <div class="col d-flex justify-content-center">
            <form method="POST">
              {{ form.hidden_tag() }}

              {{ form.username.label(class="form-label") }}

              {{ form.username(class="form-control") }}
              <br>
              {{ form.email.label(class="form-label") }}
              {{ form.email(class="form-control")}}
              <br>
              {{ form.password_hash.label(class="form-label") }}
              {{ form.password_hash(class="form-control")}}
              <br>
              {{ form.password_hash2.label(class="form-label") }}
              {{ form.password_hash2(class="form-control")}}
              <br>
              {{ form.submit(class="btn btn-primary", value="Submit") }}
            </form>
          </div>
            </br></br></br>
        {% endblock %}
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
      <script>
        if (localStorage.getItem('theme') == 'dark') {
          toggleDarkMode();
          if(document.getElementById('checkbox').checked) {
            localStorage.setItem('checkbox', true);
          }
        }
          function toggleDarkMode() {
              let isDark = document.body.classList.toggle('darkmode');
              if (isDark) {
                  toggleDarkMode.checked = true;
                  localStorage.setItem('theme','dark');
                  document.getElementById('checkbox').setAttribute('checked', 'checked');    
              } else {
                  toggleDarkMode.checked = false;
                  localStorage.removeItem('theme', 'dark');
              }
          }            
      </script>
    </body>
</html>